# Node.js dependencies
node_modules/

# Firebase configuration
android/app/google-services.json
ios/GoogleService-Info.plist

# macOS
.DS_Store

# OS-specific caches and temp files
*.swp
*.lock
*.log
.idea/
.vscode/
build/

git add .

git commit -m "Initial commit: Chill"
